@model dotnetform.Models.FormModel


<div class="text-center">
    <h1 class="display-4"> .Net Iluma form</h1>
    <form method="post">
      <label asp-for="FirstName"> First name: </label>
      <br>
      <input asp-for="FirstName" value="Raphael">
      <br>
      <label asp-for="LastName"> Last name: </label>
      <br>
      <input asp-for="LastName" value="Burkhardt">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
