

<div class="text-center">
    <h1 class="display-4"> .Net Iluma form</h1>

    <form method="post">
      <label for="fname"> First name: </label>
      <br>
      <input type="text" id="fname" name="fname" value="Raphael">
      <br>
      <label for="lname"> Last name: </label>
      <br>
      <input type="text" id="lname" name="lname" value="Burkhardt">
      <br>
      <br>
      <input type="submit" value="Submit">
    </form>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
